---

---

<section id="about" class="w-5/6 mx-auto m-6">
  <div class="gap-8 py-8 px-4 mx-auto">
    <div class="mt-4 md:mt-0">
      <h2
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
        class="mb-4 text-4xl tracking-tight font-extrabold text-primary text-transparent bg-clip-text bg-gradient-to-r from-[#d7d7d7] to-[#616161] sm:text-3xl md:text-5xl pb-2 text-center"
      >
        Get to know me!
      </h2>
      <p
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
        class="mb-6 font-light text-gray-500 md:text-lg text-justify dark:text-gray-400 sm:text-center sm:w-5/6 w-full mx-auto"
      >
        Hi I&apos;m<b class="font-bold"> Rohit Santosh Bedse</b>{" "}
        I'm a third-year Computer Science Engineering student, fueled by a passion for technology and 
        innovation. 🚀 My journey is driven by a constant eagerness to learn and apply cutting-edge 
        skills in the ever-evolving world of computer science. 💡 Feel free to Connect or Follow me on my{" "}
        <a
          href="https://www.linkedin.com/in/rohit-bedse-086b86262?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
          class="text-gray-400 font-medium"
        >
          Linkedin</a
        >{" "}
        where I post useful content related to Data Science and Python Programming
        <br />
        <br />
        I&apos;m open to Job opportunities where I can contribute, learn and grow.
        If you have a good opportunity that matches my skills and experience then
        don&apos;t hesitate to contact me.
      </p>
    </div>
    <section class="py-10">
      <div class="container mx-auto">
        <div data-aos="fade-up" data-aos-anchor-placement="center-bottom">
          <h1
            class="text-2xl text-transparent bg-clip-text bg-gradient-to-r from-[#d7d7d7] to-[#616161] font-extrabold py-3 text-center"
          >
            Professional Skillset
          </h1>
          <div
            class="grayscale opacity-75 flex gap-8 flex-wrap w-full sm:justify-center justify-center"
          >
            <svg
              width="50px"
              height="50px"
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              ><title>Python</title><defs
                ><linearGradient
                  id="a"
                  x1="-133.268"
                  y1="-202.91"
                  x2="-133.198"
                  y2="-202.84"
                  gradientTransform="translate(25243.061 38519.17) scale(189.38 189.81)"
                  gradientUnits="userSpaceOnUse"
                  ><stop offset="0" stop-color="#387eb8"></stop><stop
                    offset="1"
                    stop-color="#366994"></stop></linearGradient
                ><linearGradient
                  id="b"
                  x1="-133.575"
                  y1="-203.203"
                  x2="-133.495"
                  y2="-203.133"
                  gradientTransform="translate(25309.061 38583.42) scale(189.38 189.81)"
                  gradientUnits="userSpaceOnUse"
                  ><stop offset="0" stop-color="#ffe052"></stop><stop
                    offset="1"
                    stop-color="#ffc331"></stop></linearGradient
                ></defs
              ><path
                d="M15.885,2.1c-7.1,0-6.651,3.07-6.651,3.07V8.36h6.752v1H6.545S2,8.8,2,16.005s4.013,6.912,4.013,6.912H8.33V19.556s-.13-4.013,3.9-4.013h6.762s3.772.06,3.772-3.652V5.8s.572-3.712-6.842-3.712h0ZM12.153,4.237a1.214,1.214,0,1,1-1.183,1.244v-.02a1.214,1.214,0,0,1,1.214-1.214h0Z"
                style="fill:url(#a)"></path><path
                d="M16.085,29.91c7.1,0,6.651-3.08,6.651-3.08V23.65H15.985v-1h9.47S30,23.158,30,15.995s-4.013-6.912-4.013-6.912H23.64V12.4s.13,4.013-3.9,4.013H12.975S9.2,16.356,9.2,20.068V26.2s-.572,3.712,6.842,3.712h.04Zm3.732-2.147A1.214,1.214,0,1,1,21,26.519v.03a1.214,1.214,0,0,1-1.214,1.214h.03Z"
                style="fill:url(#b)"></path></svg
            >

            <svg
              width="50px"
              height="50px"
              viewBox="-9 0 274 274"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              preserveAspectRatio="xMidYMid"
            >
              <g>
                <path
                  d="M191.54779,186.292389 L191.607285,246.81213 L137.903038,273.611369 L137.903038,213.11807 L191.54779,186.292389 Z M256.000818,153.946885 L256.000818,214.678164 L210.196199,237.537504 L210.163146,177.083869 L256.000818,153.946885 Z M191.468463,105.286501 L191.527958,165.171627 L137.903038,191.818823 L137.903038,131.913865 L191.468463,105.286501 Z M256.000818,73.2054191 L256.000818,132.713743 L210.149925,156.022603 L210.110262,96.0184858 L256.000818,73.2054191 Z M129.738988,66.1651652 L177.67221,90.3598405 L127.940914,115.334563 L80.9133402,91.7150067 L129.738988,66.1651652 Z M63.0648093,32.5107686 L108.783491,55.588258 L59.8454631,81.1314889 L12.8906057,57.5515964 L63.0648093,32.5107686 Z M193.755719,32.8611286 L242.997833,57.5515964 L198.958235,79.6705536 L150.925855,55.4428255 L193.755719,32.8611286 Z M128.231779,3.55271368e-15 L172.562241,22.2247263 L130.056295,44.9188028 L84.3772773,21.8809768 L128.231779,3.55271368e-15 Z"
                  fill="#4DABCF"></path>
                <path
                  d="M118.943932,131.913865 L82.7709095,113.728195 L82.7709095,192.334447 C82.7709095,192.334447 38.5329951,98.2065835 34.4344436,89.7516683 C33.9055982,88.6609247 31.7307216,87.4644121 31.175434,87.1735472 C23.2427536,83.0088899 0,71.2354701 0,71.2354701 L0,210.110262 L32.1537979,227.297736 L32.1537979,154.7071 C32.1537979,154.7071 75.9223621,238.813344 76.3652701,239.732213 C76.8081781,240.651081 81.2042052,249.515852 85.8977077,252.629429 C92.1513041,256.767644 118.950543,272.884206 118.950543,272.884206 L118.943932,131.913865 Z"
                  fill="#4D77CF"></path>
                <title>Numpy</title>
              </g>
            </svg>

            <svg
              class="fill-primary h-12 w-12"
              width="50px"
              height="50px"
              viewBox="0 0 24 24"
              role="img"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><title>Pandas</title><path
                d="M16.922 0h2.623v18.104h-2.623zm-4.126 12.94h2.623v2.57h-2.623zm0-7.037h2.623v5.446h-2.623zm0 11.197h2.623v5.446h-2.623zM4.456 5.896h2.622V24H4.455zm4.213 2.559h2.623v2.57H8.67zm0 4.151h2.623v5.447H8.67zm0-11.187h2.623v5.446H8.67Z"
              ></path></svg
            >

            <svg
              class="fill-primary h-12 w-12"
              fill="none"
              width="50px"
              height="50px"
              viewBox="0 0 16 16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <path
                  d="M15,5.6,10.4,1A3.4,3.4,0,0,0,5.78.86L7.66,2.74a1.25,1.25,0,0,1,1.67,1.2V4a1.23,1.23,0,0,1-.08.38l2.45,2.4a1.17,1.17,0,0,1,.37-.08A1.3,1.3,0,1,1,10.77,8h0a1.17,1.17,0,0,1,.08-.37L8.6,5.38v5.23a1.28,1.28,0,0,1,.73,1.15,1.3,1.3,0,0,1-2.6,0,1.27,1.27,0,0,1,.67-1.11V5.07A1.27,1.27,0,0,1,6.73,4a1.17,1.17,0,0,1,.08-.37l-1.9-1.9L1,5.6a3.38,3.38,0,0,0,0,4.79H1L5.6,15a3.38,3.38,0,0,0,4.79,0h0L15,10.4a3.38,3.38,0,0,0,0-4.79Z"
                ></path>
                <title>Git</title>
              </g>
            </svg>

            <svg
              class="fill-primary h-12 w-12"
              width="50px"
              height="50px"
              viewBox="-9 0 274 274"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              preserveAspectRatio="xMidYMid"
            >
              <g>
                <path
                  d="M145.726081,42.0651946 L145.726081,84.1347419 L218.586952,126.204312 L218.586952,84.1347419 L145.726081,42.0651946 Z M-1.98726454e-07,84.1347419 L-1.98726454e-07,126.204312 L36.4304238,147.234755 L36.4304238,105.169527 L-1.98726454e-07,84.1347419 Z M109.291294,105.169527 L72.8608701,126.204312 L72.8608701,252.404316 L109.291294,273.439101 L109.291294,189.304303 L145.726081,210.339088 L145.726081,168.26954 L109.291294,147.234755 L109.291294,105.169527 Z"
                  fill="#E55B2D"></path>
                <path
                  d="M145.726081,42.0651946 L36.4304238,105.169527 L36.4304238,147.234755 L109.291294,105.169527 L109.291294,147.234755 L145.726081,126.204312 L145.726081,42.0651946 Z M255.021717,63.0999794 L218.586952,84.1347419 L218.586952,126.204312 L255.021717,105.169527 L255.021717,63.0999794 Z M182.156505,147.234755 L145.726081,168.26954 L145.726081,210.339088 L182.156505,189.304303 L182.156505,147.234755 Z M145.726081,210.339088 L109.291294,189.304303 L109.291294,273.439101 L145.726081,252.404316 L145.726081,210.339088 Z"
                  fill="#ED8E24"></path>
                <path
                  d="M145.726081,-3.41864288e-05 L-1.98726454e-07,84.1347419 L36.4304238,105.169527 L145.726081,42.0651946 L218.586952,84.1347419 L255.021717,63.0999794 L145.726081,-3.41864288e-05 Z M145.726081,126.204312 L109.291294,147.234755 L145.726081,168.26954 L182.156505,147.234755 L145.726081,126.204312 Z"
                  fill="#F8BF3C"></path>
                <title>Tensorflow</title>
              </g>
            </svg>

            <svg
              class="fill-primary h-12"
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 384 512"
              ><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <title>Html</title>
              <path
                d="M0 32l34.9 395.8L191.5 480l157.6-52.2L384 32H0zm308.2 127.9H124.4l4.1 49.4h175.6l-13.6 148.4-97.9 27v.3h-1.1l-98.7-27.3-6-75.8h47.7L138 320l53.5 14.5 53.7-14.5 6-62.2H84.3L71.5 112.2h241.1l-4.4 47.7z"
              ></path></svg
            >

            <svg
              class="fill-primary h-12"
              width="50px"
              height="50px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.1717 0H10.9961V5.9317C10.3727 5.78145 9.85683 5.7313 9.17968 5.7313C4.81597 5.7313 2 8.30642 2 12.2742C2 16.3924 4.65476 18.5366 9.7547 18.5416C11.4583 18.5416 13.0328 18.3918 15.1717 18.0111V0ZM9.73441 8.9771C10.2503 8.9771 10.6533 9.02718 11.1424 9.1775V15.4253C10.5459 15.5005 10.1697 15.525 9.7076 15.525C7.56878 15.525 6.40258 14.3828 6.40258 12.3141C6.40258 10.1895 7.62246 8.9771 9.73441 8.9771Z"
                fill="#none"></path>
              <path
                d="M22 15.2327V6.21493H17.8297V13.8901C17.8297 17.2767 17.6416 18.5643 17.0452 19.676C16.4755 20.7631 15.5834 21.4755 13.7402 22.2817L17.6148 24C19.4581 23.1378 20.3502 22.3573 21.0273 21.1194C21.7528 19.8318 22 18.3383 22 15.2327Z"
                fill="#none"></path>
              <path d="M21.5845 0H17.4089V3.99289H21.5845V0Z" fill="#none"
              ></path>
              <title>Django</title>
            </svg>

            <svg
              class="fill-primary h-12"
              viewBox="-6.5 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <title>MongoDB</title>
                <path
                  d="m10.562 9.518c-1.263-5.56-4.242-7.387-4.562-8.086-.262-.408-.508-.879-.711-1.372l-.022-.06c0 .019 0 .031-.005.049v.013.039.015.026.026.012s0 .009 0 .013v-.001.021c0 .003.001.007.001.011s0 .007-.001.011v.02.032l-.009.05v.01.006s0 .004 0 .006v.041h-.005v.016h-.036v.057h-.006v.046h-.024v.038.003s0 .002 0 .003v.01.005s0 .003 0 .005l-.023.017-.005.007v.022h-.005v.018h-.006v.045h-.006v.019h-.005v.018h-.005v.022h-.045v.015h-.005v.019h-.005v.015h-.006v.023h-.005v.006s0 0 0 0v.003s0 .002 0 .004c-.019.009-.035.021-.049.034-.003.003-.006.006-.009.01s0 0 0 0v.058h-.005v-.008h-.005v.01h-.005v.008h-.005v.022h-.061v.01h-.01v.02h-.03v.01h-.005v.006h-.01v.01h-.03v.006h-.005v.058h-.006v.01h-.005v.006h-.005v.006c-.004.006-.009.011-.014.016l-.012.01c-.014.01-.027.021-.039.032-.008.006-.015.011-.022.017l-.049.039-.074.062c-.057.047-.117.1-.186.159-.169.148-.37.338-.6.568l-.015.015c-2.234 2.374-3.637 5.553-3.729 9.059v.018c-.008.155-.013.336-.013.518 0 .22.007.439.02.656l-.001-.03v.009c.112 1.765.628 3.389 1.456 4.808l-.028-.052c.308.54.614.999.948 1.435l-.022-.03c.727.963 1.555 1.795 2.483 2.503l.031.023c.255.766.403 1.647.403 2.563 0 .076-.001.152-.003.227v-.011l.644.215c-.027-.303-.043-.655-.043-1.01 0-.533.035-1.058.102-1.572l-.006.061c.065-.257.186-.48.35-.664l-.001.002c.298-.213.559-.424.806-.651l-.006.006c.018-.019.028-.036.044-.054 2.227-2.09 3.614-5.051 3.614-8.337 0-.801-.082-1.582-.239-2.337l.013.074z"
                ></path></g
              ></svg
            >

            <svg
              class="fill-primary h-12"
              width="50px"
              height="50px"
              viewBox="0 0 20 20"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="layer1">
                <path
                  d="M 3 0 L 3 20 L 17 20 L 17 19 L 16 19 L 4 19 L 4 1 L 12 1 L 12 4 L 12 5 L 16 5 L 16 12 L 17 12 L 17 5 L 17 4 L 13 0 L 12 0 L 3 0 z M 13 1.3535156 L 15.646484 4 L 13 4 L 13 1.3535156 z M 6.5 13 C 5.671573 13 5 13.671573 5 14.5 C 5 15.328427 5.671573 16 6.5 16 L 7.5 16 C 7.776142 16 8 16.223858 8 16.5 C 8 16.776142 7.776142 17 7.5 17 L 5 17 L 5 18 L 7.5 18 C 8.328427 18 9 17.328427 9 16.5 C 9 15.671573 8.328427 15 7.5 15 L 6.5 15 C 6.223858 15 6 14.776142 6 14.5 C 6 14.223858 6.223858 14 6.5 14 L 9 14 L 9 13 L 6.5 13 z M 12 13 L 11.816406 13.007812 L 11.632812 13.033203 L 11.453125 13.076172 L 11.277344 13.134766 L 11.107422 13.208984 L 10.947266 13.298828 L 10.794922 13.404297 L 10.652344 13.521484 L 10.521484 13.652344 L 10.404297 13.794922 L 10.300781 13.947266 L 10.208984 14.107422 L 10.134766 14.277344 L 10.076172 14.451172 L 10.035156 14.632812 L 10.007812 14.816406 L 10 15 L 10 16 L 10.007812 16.183594 L 10.035156 16.367188 L 10.076172 16.546875 L 10.134766 16.722656 L 10.208984 16.890625 L 10.300781 17.052734 L 10.404297 17.205078 L 10.521484 17.347656 L 10.652344 17.478516 L 10.794922 17.595703 L 10.947266 17.699219 L 11.107422 17.791016 L 11.277344 17.865234 L 11.453125 17.923828 L 11.632812 17.964844 L 11.816406 17.992188 L 12 18 L 12.183594 17.992188 L 12.367188 17.964844 L 12.546875 17.923828 L 12.722656 17.865234 L 12.892578 17.791016 L 13.013672 17.720703 L 13.146484 17.853516 A 0.50005 0.50005 0 0 0 13.5 18 L 14 18 L 14 17 L 13.728516 17 L 13.791016 16.890625 L 13.865234 16.722656 L 13.923828 16.546875 L 13.964844 16.367188 L 13.992188 16.183594 L 14 16 L 14 15 L 13.992188 14.816406 L 13.964844 14.632812 L 13.923828 14.451172 L 13.865234 14.277344 L 13.791016 14.107422 L 13.699219 13.947266 L 13.595703 13.794922 L 13.478516 13.652344 L 13.347656 13.521484 L 13.205078 13.404297 L 13.052734 13.298828 L 12.892578 13.208984 L 12.722656 13.134766 L 12.546875 13.076172 L 12.367188 13.033203 L 12.183594 13.007812 L 12 13 z M 15 13 L 15 18 L 19 18 L 19 17 L 16 17 L 16 13 L 15 13 z M 12 14 L 12.130859 14.007812 L 12.259766 14.033203 L 12.382812 14.076172 L 12.5 14.134766 L 12.609375 14.207031 L 12.707031 14.292969 L 12.792969 14.390625 L 12.865234 14.5 L 12.923828 14.617188 L 12.966797 14.740234 L 12.992188 14.869141 L 13 15 L 13 16 L 12.992188 16.130859 L 12.966797 16.257812 L 12.353516 15.646484 L 11.646484 16.353516 L 12.257812 16.964844 L 12.130859 16.992188 L 12 17 L 11.869141 16.992188 L 11.740234 16.964844 L 11.617188 16.923828 L 11.5 16.865234 L 11.390625 16.792969 L 11.292969 16.707031 L 11.207031 16.607422 L 11.134766 16.5 L 11.076172 16.382812 L 11.033203 16.257812 L 11.007812 16.130859 L 11 16 L 11 15 L 11.007812 14.869141 L 11.033203 14.740234 L 11.076172 14.617188 L 11.134766 14.5 L 11.207031 14.390625 L 11.292969 14.292969 L 11.390625 14.207031 L 11.5 14.134766 L 11.617188 14.076172 L 11.740234 14.033203 L 11.869141 14.007812 L 12 14 z "
                  style="fill:#none; fill-opacity:1; stroke:none; stroke-width:0px;"
                ></path>
                <title>SQL</title>
              </g>
            </svg>

            <svg
              class="fill-primary h-12"
              width="50px"
              height="50px"
              viewBox="0 0 32 32"
              id="icon"
              xmlns="http://www.w3.org/2000/svg"
              ><defs
                ><style>
                  .cls-1 {
                    fill: none;
                  }
                </style></defs
              ><title>Machine learning</title><path
                d="M16,25a6.9908,6.9908,0,0,1-5.833-3.1287l1.666-1.1074a5.0007,5.0007,0,0,0,8.334,0l1.666,1.1074A6.9908,6.9908,0,0,1,16,25Z"
              ></path><path d="M20,14a2,2,0,1,0,2,2A1.9806,1.9806,0,0,0,20,14Z"
              ></path><path d="M12,14a2,2,0,1,0,2,2A1.9806,1.9806,0,0,0,12,14Z"
              ></path><path
                d="M30,16V14H28V10a4.0045,4.0045,0,0,0-4-4H22V2H20V6H12V2H10V6H8a4.0045,4.0045,0,0,0-4,4v4H2v2H4v5H2v2H4v3a4.0045,4.0045,0,0,0,4,4H24a4.0045,4.0045,0,0,0,4-4V23h2V21H28V16ZM26,26a2.0023,2.0023,0,0,1-2,2H8a2.0023,2.0023,0,0,1-2-2V10A2.0023,2.0023,0,0,1,8,8H24a2.0023,2.0023,0,0,1,2,2Z"
              ></path><rect
                id="_Transparent_Rectangle_"
                data-name="<Transparent Rectangle>"
                class="cls-1"
                width="32"
                height="32"></rect></svg
            >
          </div>
        </div>
        <div data-aos="fade-up" data-aos-anchor-placement="center-bottom">
          <h1
            class="mt-8 text-2xl text-transparent bg-clip-text bg-gradient-to-r from-[#d7d7d7] to-[#616161] font-extrabold py-3 text-center"
          >
            Tools
          </h1>
          <div
            class="grayscale opacity-75 flex gap-8 flex-wrap w-full sm:justify-center justify-center"
          >
            <svg
              class="fill-primary h-12"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <title>VS Code</title>
                <path
                  d="M0.228341 8.36915C0.228341 8.36915 -0.356212 7.94324 0.345251 7.37453L1.97956 5.89736C1.97956 5.89736 2.44721 5.40004 2.94164 5.83334L18.0231 17.375V22.9094C18.0231 22.9094 18.0158 23.7785 16.9124 23.6825L0.228341 8.36915Z"
                ></path>
                <path
                  d="M4.11555 11.9367L0.228273 15.5089C0.228273 15.5089 -0.171172 15.8093 0.228273 16.346L2.03308 18.0053C2.03308 18.0053 2.46175 18.4706 3.09502 17.9413L7.21611 14.7827L4.11555 11.9367Z"
                ></path>
                <path
                  d="M10.94 11.9661L18.0691 6.46362L18.0228 0.95865C18.0228 0.95865 17.7183 -0.242793 16.7027 0.382548L7.21589 9.11025L10.94 11.9661Z"
                ></path>
                <path
                  d="M16.9121 23.69C17.3261 24.1183 17.8279 23.978 17.8279 23.978L23.3838 21.2108C24.0951 20.7208 23.9952 20.1127 23.9952 20.1127V3.58803C23.9952 2.86175 23.2596 2.61063 23.2596 2.61063L18.4441 0.264377C17.3919 -0.392968 16.7027 0.382548 16.7027 0.382548C16.7027 0.382548 17.5892 -0.262484 18.0228 0.95865L18.0228 22.8086C18.0228 22.9588 17.9911 23.1065 17.9278 23.2394C17.8011 23.4979 17.5259 23.7392 16.8658 23.6383L16.9121 23.69Z"
                ></path>
              </g></svg
            >

            <svg
              class="fill-primary h-12"
              width="50px"
              height="50px"
              viewBox="-22 0 250 300"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              preserveAspectRatio="xMidYMid"
            >
              <g>
                <path
                  d="M10.5838307,156.409656 L10.5838307,156.196646 L10.5838307,123.657627 L17.7200527,123.657627 L17.7200527,158.912657 C18.0516208,161.753926 17.8075656,164.63288 17.0023629,167.377784 C16.19722,170.122687 14.8474392,172.677251 13.0335946,174.88924 C9.6624625,177.797086 5.34298451,179.369568 0.891381719,179.309391 L0.145805038,173.983903 C3.01718628,173.985518 5.78730255,172.922981 7.92105685,171.001585 C9.83826599,168.76489 10.5838307,165.729334 10.5838307,156.409656 Z M63.8037763,152.209035 C63.8037763,156.203166 63.8037763,159.771277 64.1232613,162.860071 L57.7859014,162.860071 L57.3598815,156.522711 C56.0343268,158.765028 54.1386519,160.616318 51.8656486,161.888456 C49.5925854,163.160593 47.0232464,163.808237 44.4187946,163.765408 C38.2412071,163.765408 30.8919752,160.410366 30.8919752,146.723715 L30.8919752,123.983721 L38.0281972,123.983721 L38.0281972,145.285823 C38.0281972,152.688352 40.3181887,157.641058 46.7620834,157.641058 C48.0878176,157.655354 49.4030239,157.404719 50.6306575,156.903927 C51.8582911,156.403136 52.9735276,155.662296 53.9110465,154.724777 C54.8485056,153.787318 55.5894046,152.672022 56.0901963,151.444448 C56.5909282,150.216815 56.8415633,148.901549 56.8273268,147.575814 L56.8273268,123.717444 L63.9634889,123.717444 L63.9634889,151.996025 L63.8037763,152.209035 Z M77.330762,136.653806 C77.330762,131.70104 77.330762,127.653648 77.0112304,123.979032 L83.4018876,123.979032 L83.7213726,130.635931 C85.1452074,128.23088 87.1949721,126.257257 89.6521533,124.925482 C92.1093944,123.593709 94.8819333,122.953703 97.6742718,123.073695 C107.153723,123.073695 114.289945,131.008713 114.289945,142.831393 C114.289945,156.784292 105.715831,163.707504 96.4493898,163.707504 C94.0776877,163.813321 91.7187865,163.305232 89.6009496,162.232346 C87.4831127,161.159401 85.6780613,159.558028 84.3604623,157.583154 L84.3604623,178.885226 L77.330762,178.885226 L77.330762,136.813578 L77.330762,136.653806 Z M84.3604623,147.038594 C84.3797833,148.004885 84.4867369,148.967408 84.6800071,149.914378 C85.2842232,152.279021 86.6597255,154.374666 88.5887785,155.869683 C90.5178913,157.364761 92.8904309,158.173852 95.3310427,158.168947 C102.840047,158.168947 107.260258,152.044597 107.260258,143.150938 C107.260258,135.375686 103.106354,128.718758 95.59735,128.718758 C92.6257387,128.962101 89.844945,130.280974 87.7762781,132.428062 C85.7076111,134.575149 84.4931374,137.403079 84.3604623,140.381689 L84.3604623,147.038594 Z M127.004503,123.94359 L135.578617,146.896647 C136.483954,149.452886 137.442529,152.54168 138.081618,154.831671 C138.827183,152.488442 139.625985,149.506124 140.58462,146.736875 L148.359872,123.94359 L155.868876,123.94359 L145.21784,151.636343 C139.892293,164.950152 136.643726,171.820127 131.744199,175.97403 C129.27643,178.228071 126.267791,179.805756 123.010354,180.553953 L121.252929,174.589376 C123.530581,173.840999 125.645092,172.666304 127.48382,171.127799 C130.081872,169.010501 132.14366,166.310102 133.501635,163.246013 C133.792288,162.715372 133.990404,162.139031 134.087428,161.541814 C134.026892,160.899135 133.865146,160.270094 133.60817,159.677902 L119.122716,123.837079 L126.897968,123.837079 L127.004503,123.94359 Z M174.813541,112.770851 L174.813541,123.954441 L185.038557,123.954441 L185.038557,129.279989 L174.813541,129.279989 L174.813541,150.262575 C174.813541,155.055568 176.198196,157.824817 180.139089,157.824817 C181.538758,157.847727 182.935316,157.686579 184.292992,157.345559 L184.612537,162.671047 C182.57671,163.376355 180.428486,163.701283 178.275118,163.629682 C176.849069,163.718929 175.420569,163.498622 174.087657,162.983833 C172.754744,162.469044 171.549004,161.671976 170.553103,160.647363 C168.383883,157.745977 167.394359,154.130491 167.783854,150.528882 L167.783854,129.226751 L161.712742,129.226751 L161.712742,123.901204 L167.890329,123.901204 L167.890329,114.421764 L174.813541,112.770851 Z M198.184399,144.647511 C198.03988,146.453639 198.289199,148.269577 198.915189,149.969888 C199.541179,151.670199 200.528884,153.214267 201.810114,154.495437 C203.091285,155.776667 204.635352,156.764373 206.335664,157.390363 C208.035975,158.016352 209.851913,158.265672 211.658041,158.121153 C215.311153,158.202863 218.940457,157.513288 222.309077,156.097409 L223.533958,161.422956 C219.400274,163.12572 214.955358,163.942168 210.486396,163.819423 C207.881107,163.997798 205.268101,163.61054 202.826592,162.684147 C200.385023,161.757814 198.172795,160.3143 196.341489,158.452721 C194.51022,156.591082 193.103284,154.355345 192.217196,151.898941 C191.331104,149.442478 190.986827,146.82349 191.207978,144.221491 C191.207978,132.505346 198.184399,123.238905 209.581059,123.238905 C222.362314,123.238905 225.557643,134.422495 225.557643,141.558717 C225.625954,142.658281 225.625954,143.761016 225.557643,144.860581 L198.024687,144.860581 L198.184399,144.647511 Z M219.06051,139.322023 C219.266043,137.898188 219.163995,136.446897 218.761184,135.065892 C218.358433,133.684886 217.664311,132.406228 216.725656,131.316115 C215.786941,130.226062 214.625525,129.349856 213.31959,128.746561 C212.013656,128.143278 210.59353,127.826939 209.155039,127.818864 C206.228949,128.030665 203.487515,129.327603 201.467959,131.455549 C199.448402,133.583436 198.296377,136.388874 198.237697,139.322023 L219.06051,139.322023 Z M236.385366,136.053478 C236.385366,131.473555 236.385366,127.532637 236.065834,123.911277 L242.456492,123.911277 L242.456492,131.526792 L242.775977,131.526792 C243.446769,129.176325 244.83268,127.093027 246.741335,125.566097 C248.64999,124.039161 250.986699,123.144369 253.427072,123.005938 C254.098762,122.917777 254.779066,122.917777 255.450756,123.005938 L255.450756,129.66288 C254.63688,129.568608 253.814868,129.568608 253.000992,129.66288 C250.58353,129.756495 248.282771,130.726973 246.528505,132.393068 C244.774238,134.059104 243.686458,136.306745 243.468304,138.716252 C243.269171,139.805946 243.162278,140.910475 243.148819,142.018055 L243.148819,162.734394 L236.11909,162.734394 L236.11909,136.106715 L236.385366,136.053478 Z"
                  fill="#none"></path>
                <path
                  d="M233.257943,16.9621357 C233.476636,20.5398773 232.625434,24.1017075 230.812666,27.1939108 C228.999898,30.286174 226.307754,32.7687777 223.079047,34.3255867 C219.85034,35.8823358 216.231324,36.4427655 212.683013,35.9355136 C209.134702,35.4282017 205.817704,33.8761781 203.154559,31.4770796 C200.491421,29.0780409 198.602703,25.9404959 197.729013,22.4642047 C196.855323,18.9879135 197.036209,15.330196 198.248625,11.9570899 C199.461041,8.5839838 201.650109,5.64808944 204.536953,3.52346926 C207.423803,1.39884909 210.877782,0.181657262 214.458814,0.0269503701 C216.806708,-0.10224713 219.156996,0.233972409 221.374429,1.01627461 C223.591922,1.79857323 225.632893,3.01152758 227.379981,4.58537259 C229.12701,6.15922358 230.54576,8.06291398 231.554522,10.1869719 C232.563283,12.3110298 233.142196,14.6135829 233.257943,16.9621357 Z"
                  fill="#none"></path>
                <path
                  d="M127.952969,225.540984 C80.0236372,225.540984 37.8984531,208.339518 16.1170646,182.936721 C24.5683135,205.78944 39.8176362,225.504615 59.8124569,239.428562 C79.8070981,253.352629 103.588124,260.816651 127.952969,260.816651 C152.318411,260.816651 176.098839,253.352629 196.094019,239.428562 C216.0886,225.504615 231.337863,205.78944 239.789471,182.936721 C218.061379,208.339518 176.095848,225.540984 127.952969,225.540984 Z"
                  fill="#none"></path>
                <path
                  d="M127.952969,60.3543133 C175.882898,60.3543133 218.008142,77.5557785 239.789471,102.958396 C231.337863,80.1058563 216.0886,60.3906823 196.094019,46.4667348 C176.098839,32.5427873 152.318411,25.0784666 127.952969,25.0784666 C103.588124,25.0784666 79.8070981,32.5427873 59.8124569,46.4667348 C39.8176362,60.3906823 24.5683135,80.1058563 16.1170646,102.958396 C37.8984531,77.502541 79.8106871,60.3543133 127.952969,60.3543133 Z"
                  fill="#none"></path>
                <path
                  d="M61.9716874,274.975202 C62.2528294,279.48161 61.186045,283.969713 58.9072992,287.867658 C56.6284936,291.765602 53.2409116,294.896926 49.1761363,296.862707 C45.1113611,298.828488 40.5533909,299.539717 36.0829934,298.905772 C31.6125362,298.271767 27.4320141,296.321359 24.0740419,293.30297 C20.7160636,290.284582 18.3326671,286.334835 17.2274978,281.957035 C16.1223339,277.579176 16.3454363,272.971497 17.868382,268.720869 C19.3913284,264.470301 22.1451683,260.769335 25.7790187,258.089483 C29.4129289,255.40962 33.7623156,253.872201 38.2730898,253.673106 C41.2280121,253.515051 44.1851476,253.940738 46.9755719,254.925846 C49.7659364,255.910962 52.3349165,257.436187 54.5356604,259.414404 C56.7364042,261.392633 58.5259031,263.785032 59.8017495,266.455044 C61.0776558,269.124996 61.8150255,272.02022 61.9716874,274.975202 Z"
                  fill="#none"></path>
                <path
                  d="M21.5641016,54.5650606 C18.9814831,54.6363631 16.4354131,53.9424806 14.2460944,52.570687 C12.0567996,51.1988336 10.3219858,49.2102622 9.25983722,46.8551295 C8.19768984,44.499937 7.85562972,41.8832824 8.276674,39.3342215 C8.69771827,36.7851606 9.86306631,34.4174662 11.6261678,32.5289814 C13.3892752,30.6404727 15.6714246,29.3154324 18.1856119,28.7204982 C20.6997394,28.1255646 23.3336813,28.2873008 25.7562282,29.1853653 C28.1787154,30.0834346 30.2815979,31.6777312 31.800363,33.767765 C33.3191879,35.8578106 34.1861222,38.3502842 34.2921188,40.9317063 C34.3930308,44.4222341 33.113057,47.8117302 30.7300493,50.3642007 C28.3470417,52.916731 25.0533134,54.4262842 21.5641016,54.5650606 Z"
                  fill="#none"></path>
              </g>
              <title>Jupyter NoteBook</title>
            </svg>

            <svg
              class="fill-primary h-12"
              width="50px"
              height="50px"
              viewBox="0 0 16 16"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              ><title>GitHub</title><path
                fill="#none"
                fill-rule="evenodd"
                d="M8 1C4.133 1 1 4.13 1 7.993c0 3.09 2.006 5.71 4.787 6.635.35.064.478-.152.478-.337 0-.166-.006-.606-.01-1.19-1.947.423-2.357-.937-2.357-.937-.319-.808-.778-1.023-.778-1.023-.635-.434.048-.425.048-.425.703.05 1.073.72 1.073.72.624 1.07 1.638.76 2.037.582.063-.452.244-.76.444-.935-1.554-.176-3.188-.776-3.188-3.456 0-.763.273-1.388.72-1.876-.072-.177-.312-.888.07-1.85 0 0 .586-.189 1.924.716A6.711 6.711 0 018 4.381c.595.003 1.194.08 1.753.236 1.336-.905 1.923-.717 1.923-.717.382.963.142 1.674.07 1.85.448.49.72 1.114.72 1.877 0 2.686-1.638 3.278-3.197 3.45.251.216.475.643.475 1.296 0 .934-.009 1.688-.009 1.918 0 .187.127.404.482.336A6.996 6.996 0 0015 7.993 6.997 6.997 0 008 1z"
                clip-rule="evenodd"
              >
              </path></svg
            >

            <svg
              class="fill-primary h-12"
              width="50px"
              height="50px"
              viewBox="0 0 24 24"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              ><title>Kaggle</title><path
                d="M18.825 23.859c-.022.092-.117.141-.281.141h-3.139c-.187 0-.351-.082-.492-.248l-5.178-6.589-1.448 1.374v5.111c0 .235-.117.352-.351.352H5.505c-.236 0-.354-.117-.354-.352V.353c0-.233.118-.353.354-.353h2.431c.234 0 .351.12.351.353v14.343l6.203-6.272c.165-.165.33-.246.495-.246h3.239c.144 0 .236.06.285.18.046.149.034.255-.036.315l-6.555 6.344 6.836 8.507c.095.104.117.208.07.358"
              ></path></svg
            >
            
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
