---
---

<section id="certifications" class="w-5/6 mx-auto m-6">
  <div class="gap-8 py-8 px-4 mx-auto">
    <div class="mt-4 md:mt-0">
      <h2
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
        class="mb-4 text-4xl tracking-tight font-extrabold text-primary text-transparent bg-clip-text bg-gradient-to-r from-[#d7d7d7] to-[#616161] sm:text-3xl md:text-5xl pb-2 text-center"
      >
        Certifications
      </h2>
      <div class="space-y-4">
        <div data-aos="fade-up" class="bg-gray-800 p-4 rounded-lg">
          <h3 class="text-lg font-bold text-white">Get Started with Python</h3>
          <p class="text-gray-400">Google (Coursera), 2024</p>
        </div>
        <div data-aos="fade-up" class="bg-gray-800 p-4 rounded-lg">
          <h3 class="text-lg font-bold text-white">AWS Academy Cloud Foundations</h3>
          <p class="text-gray-400">AWS, 2025</p>
        </div>
        <div data-aos="fade-up" class="bg-gray-800 p-4 rounded-lg">
          <h3 class="text-lg font-bold text-white">SQL Databases</h3>
          <p class="text-gray-400">Cognitive.ai, 2024</p>
        </div>
      </div>
    </div>
  </div>
</section>